
Find the difference between two files, and easily merge them.

.top-bar-brand a img {
    width: 100% !important;
    height: auto !important;
}

/* aside-menu-toggle */
.sub-hamburger .hamburger-inner:before,
.sub-hamburger .hamburger-inner:after,
.sub-hamburger .hamburger-inner{
    background-color: var(--theme-secondary);
}


.app-aside-expand-md{
    transition: 0.5s all !important; 
}

.g-sidenav-hidden:not(.g-sidenav-show) .stacked-menu .menu-text,
.g-sidenav-hidden .has-child>.menu-link:after {
    /* display: none!important; */
}


@media (min-width: 768px){
    .app-aside-expand-md+.app-main {
        padding-left: 7rem;
    }

    .app-aside-expand-md:hover {
        width: 15em;
        z-index: 999;
    }
        .app-aside-expand-md{
            width: 7rem;
        }
        .g-sidenav-hidden .stacked-menu .menu-link {
            text-align: center;
            padding: 17px 0;
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        }
        
        .g-sidenav-hidden:not(.g-sidenav-show) .stacked-menu .menu-text{
            display: block !important;
            color: var(--white);
            width: 100%;
        }
        
        
        .g-sidenav-hidden .menu-item.has-active{
            background: var(--theme-secondary);
        }
        
        .g-sidenav-show .aside-icon{
            fill:var(--white);
            margin-right: 5px;
        }
        
        .g-sidenav-hidden .aside-icon{
            fill:var(--white);
            height:43px;
            width:43px;
        }
        
        .g-sidenav-hidden .menu .menu-item:not(.has-active) {
            border: 1px solid #3E4C58;
        }
        
   

        .g-sidenav-hidden .stacked-menu .menu-link>.menu-icon{
            margin-right:0px;
        }

        .app-aside-fixed .stacked-menu .has-child.has-open>.menu {
            display: none;
        }
        .app-aside-expand-in.app-aside-fixed .stacked-menu .has-child.has-open>.menu{
            display: block !important;
        }



}


/***m**/
.tab-table-body {
    padding-top: 0;
}

.tab-table-body .nav-tabs {
    margin-bottom: 10px;
}
table.dataTable thead>tr>td.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc {
    padding-right: 30px;
    font-size: 14px;
    font-weight: 400;
    color: var(--gray);
}

.date-row-form {
    padding: 18px 0;
}
.full-width {
    width: 100%;
}

.custom-icon.custom-plus {
    font-size: 18px;
    line-height: 0;
    display: inline-block;
    vertical-align: middle;
}
.breadcumb-back:hover {
    text-decoration: none;
}
/* data-table-custom */
.uk-table.strip-select tbody tr.selected {    
    background-color: rgba(var(--theme-secondary-rgba),.9) !important;
    color: #fff;
}
.uk-table-hover tbody tr:hover, .uk-table-hover>tr:hover{
    background: #ececec;
}
.modal-body-inner {
    padding: 15px 0 0;
}
.border-doted{
    border: 2px dashed rgba(34, 34, 48, .1);
    border-radius: .25rem;
}
.border-none{
    border-color: transparent!important;
    border-top:.6rem;
    border-bottom:.6rem;
}
.button-icon {
    line-height: 28px;
    width: 100%;
}

.transparent-text-title {
    font-size: 1.2em;
}

.transparent-text-title {
    color:var(--theme-primary)!important;
}

.fixed-toggle{
    position: absolute;
    z-index: 99;
    right: 7%;
    TOP: 20%;
}

.back-draw-none .sidebar-backdrop {
    display: none;
}
#textLine {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid darkgray;
    line-height: 12px;
    
}
#textLine span {
    background: #fff;
    padding: 0 10px;
    font-size: 15px;
    font-weight: normal;
}

.hr-none {
    border-color: transparent;
}





/*************anurag tripathi***********************/

input.dhx_repeat_text {
    height: 16px;
    width: 27px;
    margin: 0 4px 0 4px;
    line-height: 18px;
    padding: 0 0 0 8px;
    color: #363642;
    border: 1px solid #c6c9d5;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
input.dhx_repeat_date {
    height: 18px;
    width: 80px !important;
    padding: 0 0 0 2px;
    margin: 0 4px 0 4px;
    background-repeat: no-repeat;
    background-position: 64px 0;
}
.dhx_inline {
    display: inline-block;
    width: auto;
}

/*************05-08-2019***************/

.scroll-horizontal{
    overflow-y: scroll;
    max-height: 800px;
}

.switcher-md.switcher-control {
    width: 4rem;
}
.switcher-md .switcher-indicator{
    height: 2rem;
}

.switcher-md.switcher-control .switcher-indicator:before{
    width: 2rem;
    right: 2.1875rem;
}

.switcher-md .switcher-input:checked+.switcher-indicator:before {
    right: 0;
}

.col-one-20 {
    max-width: 20%;
}
.col-one-30 {
    max-width: 30%;
}

.divider-title {
    padding: 4px 10px 5px;
    font-weight: 700;
}


/*************09-08-2019****************/
.nav-link-white{
    color: #fff;
}
.table-select-item {
    padding: 0.75rem 0;
}